global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend minio_front
    bind *:9000
    default_backend minio_back

backend minio_back
    server backend_minio dockermanager-minio:9000 check

frontend nas_front
    bind *:445
    default_backend nas_back

backend nas_back
    server backend_nas dockermanager-nas:445 check
